/* 
selector{
    propiedad:valor;
}

    azul: #6F65F0
    morado: #CF4CD4
    salmon: #EA775F
    beige: #D69D3C
    amarillo: #F5EE5F
    -----------------
    --black: #000000ff;
    --carmine: #9a031eff;
    --ut-orange: #fb8b24ff;
    --aureolin: #f4e409ff;
    --ice-blue: #9cf6f6ff;
    ------------------
    rosa: #d500f9

@font-face {
  font-family: nombreDeMiFuente;
  src: url(archivoFuente/fuente.woff);
}
especificidad  
  1. !important  
  2. style en HTML

  Selectores

  3. ID
  4. Clase, atributos y pseudoclases
  5. Tipo de etiqueta y pseudo elementos

Posiciones
  position: static | relative| absolute | fixed | sticky

  top bottom left right


  pseudoclases
    :hover cuando pasa el mouse por arriba
    :visited exclusivo de los links para cuando ya fue visitado
    :active botones y links, cuando se presiona */

html {
  font-family: "Nunito", sans-serif;
}

img{
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #f12711;
}

a:hover{
  opacity: 0.8;
}

.title {
  text-transform: uppercase;
  text-align: center;
}

.paragraph {
  line-height: 1.8em;
  font-weight: 300;
}

.fa-star,
.fa-star-half-stroke {
  color: #ffc400;
}

.container {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 960px;
  width: 100%;
  height: 80vh;
  background-color: #fff;
  /* box-shadow: diferenciaHorizontal diferenciaVertical desenfoque amplitud color; */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  position: relative;
  overflow: scroll;
}

.content{
  padding: 1em;
}

td{
  display: block;
  width: 100%;
}

td:nth-of-type(1){
  font-size: 1.5em;
  font-weight: bold;
  color: #f12711;
}

th{
  display: none;
}

.actions {
  position: absolute;
  top: 1em;
  right: 1ex;
}

.close {
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  background-color: #f12711;
  display: inline-block;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-weight: 300;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  width: 100%;
  border-spacing: 0;
}

.table td,
.table th {
  padding: 1em;
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: #fce5b3;
}

.title-item {
  /*border-bottom-style: solid;
  border-width: 2px;
  border-color: #C6426E;
  */
  font-size: 2em;
  border-bottom: solid 2px #f12711;
  padding-bottom: 1em;
  /* padding: arriba derecha abajo izquierda;
  padding: arriba/abajo derecha/izquierda; */
}

.address{
  font-weight: bold;
  color: #f12711;
  font-size: 1.2em;
  margin-top: 2em;
  display: inline-block;
}

.main-image{
  float: left;
  margin-right: 1em;
}

.position {
  background-color: #f5af19;
  color: white;
  padding: 0.5em;
  border-radius: 4px;
  /* border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em; */
  margin-right: 0.5em;
}

@media (min-width:900px) {
  th{
    display: table-cell;
  }

  td{
    display: table-cell;
    width: auto;
  }

  td:nth-of-type(1){
    font-size:1em;
  }

  .content{
    padding: 1.8em;
  }

}

@media (min-height:550px){
  .content{
    height: 500px;
  }
}